
body {
    background: black;
    color: white;
    margin: 0;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    width: 100%;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex.justify-center {
    justify-content: center;
}


.text-center {
    text-align: center;;
}

.w-100 {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.biography {
    padding: 0 30px;
}

/**
* Navigation
**/
header {
    position: sticky;
    top: 0;
}

nav {
    overflow: hidden;
    background-color: #333;}

nav ul {
    list-style: none;
}
  
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover {
    background-color: #ddd;
    color: black;
}
  
nav a.active {
    background-color: #0D20A1;
    color: white;
  }

  blockquote {
    margin: 0;
  }
  
  blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
  }
  
  blockquote p::before {
    content: '\201C';
  }
  
  blockquote p::after {
    content: '\201D';
  }